@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/TTLakesCondensed-Regular.woff"),
    url("assets/fonts/TTLakes-DemiBold.ttf");
  }

body{min-width: 768px; 
 margin: 0;  font-family: "TT Lakes", "Arial", sans-serif;}

.container { overflow: auto; height: 504px;}
.header{display: flex; height: 88px; 
background-color: white;  }

.icon{height: 40px; width: 40px; margin: 24px 8px; }

.header__logo {margin-top: 18.59px; 
margin-left: 0;
margin-right: 0;}

main {background-color: #F8F8F8;margin: 0; width: 768px;}
.header__burger{order: -2;}

.header__divider
  {border-left: 2px solid #EAEAEA;
  height: 32;
  margin-top: 28px;
  margin-bottom: 28px;
  margin-left: 20px;
  margin-right: 20px;
  }

.leftdivider{order: -1;
}
.header__call{margin-left: 210px;}

.title
  {display:flex;   }

.title__line{border-right: 4px solid #41F6D7;
  height: 40;
  margin-top: 28px;
  margin-bottom: 28px;
  margin-left: 0px;
  margin-right: 0px;
 border-radius: 180px;}

.title__text{width: 288px;
  height: 40px;    
  margin-top: 24px;
  margin-left: 16px;
  margin-bottom: 24px;
  padding: 5px;
  font-size: 28px;
  line-height: 40px;
  color: #1B1C21;}

.options{ display: flex; margin-left: 16px; 
  color:  #7E7E82; }
.opt{font-size: 16px;
    text-align: center;
    vertical-align: middle;
    height: 24px;
    padding: 8px 9.3px 8px 16.54px;
    margin: 0;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;}

.options__repairing-devices{background-color:#FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  height:24px;
  width:220px;}

.part{display: flex;}

.futher{display: flex; 
  flex-direction: column; 
  width: 312px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color:#1B1C21;
  margin-left: 24px;
  margin-right: 16px;
 }

.futher__icon{margin-left: 33px;
  margin-right: 16px;
  }
.further__text {font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;}

.futher__information {
  margin-top: 45px;}    
 
.futher__information-2{
  margin-top: 30px;
  margin-bottom: 20px;}
.further-sign{display: flex;
}

.futher__schedule {width: 360px;
margin-top: 38px;
margin-left: 40px;
margin-bottom: 25px;
border-radius: 7px;}